.vanta {
    /* Put the vanta background behind the section */
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
}

#contact {
    margin-top: 100px;
    height: 100vh;
    color: white;
    text-align: center;
    position: relative;
    backdrop-filter: blur(5px); /* It make the bubbles disappear */


    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact__body {
    margin-top: 35vh;
    padding: 0 10% 0 10%;

}

.contact__body--text {
    margin: 20px 0 20px 0;
}

.contact__btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 0.9em;
    color: rgb(255, 255, 255);
    padding: 20px;
    background-image: linear-gradient(to right, #498EA0, #30618E, #498EA0, #AAC7CC);
    box-shadow: 0 0 15px #aac7cc99;
    cursor: pointer;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.contact__btn:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

@media screen and (max-width: 820px) {

    .contact__body {
        margin-left: 0;
        margin-right: 0;
    }

}
