#contact {
    height: 100vh;
    background: linear-gradient(326deg, rgba(88,0,147,1) 0%, rgba(106,29,253,1) 0%, rgba(255,149,0,1) 100%);
    position: relative;
    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact__body {
    margin-top: 40vh;
    margin-left: 200px;
    margin-right: 200px;
}

.contact__body--text {
    margin: 20px 0 20px 0;
}

.contact__btn {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    padding: 20px;
    background-image: linear-gradient(to right, #c713e2, #ff9020, #fb9a3f, #d24ed0);
    box-shadow: 0 4px 20px 0 rgba(69, 9, 143, 0.384);
    cursor: pointer;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.contact__btn:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

@media screen and (max-width: 820px) {

    .contact__body {
        margin-top: 40vh;
        margin-left: 0;
        margin-right: 0;
    }

}

