.home {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.glow {
    content: "";
    height: 500px;
    width: 500px;
    background: linear-gradient(120deg, rgb(176, 244, 240) 50%, rgba(212, 199, 212, 0.996) 100%);
    position: absolute;
    box-shadow: 0 0 100px 30px #AAC7CC;
    top: -250px;
    left: -250px;
    border-radius: 50%;
    transform: translatey(0px);
	animation: float 10s ease-in-out infinite;
    z-index: -1;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.intro {
    text-align: right;
}

.intro__title--primary {
    font-size: 9vw;
    font-weight: 700;
    color: #AAC7CC;
}

.intro__title--secondary {
    font-size: 9vw;
    font-weight: 300;
    color: #498EA0;
}

.intro__subtitle {
    font-size: 6vw;
    font-weight: 700;
    color: #AAC7CC;
}

@media screen and (max-width: 480px) {
    .home {
        justify-content: center;
        align-items: center;
        margin-top: -5vh;
    }

    .intro {
        text-align: center;
    }
}
