.home {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}


.intro {
    text-align: right;
}

.intro__title--primary {
    font-size: 9vw;
    font-weight: 700;
    color: #AAC7CC;
}

.intro__title--secondary {
    font-size: 9vw;
    font-weight: 300;
    color: #498EA0;
}

.intro__subtitle {
    font-size: 6vw;
    font-weight: 700;
    color: #AAC7CC;
}

@media screen and (max-width: 480px) {
    .home {
        justify-content: center;
        align-items: center;
        margin-top: -5vh;
    }

    .intro {
        text-align: center;
    }
}
